source http://nuget.org/api/v2
framework: >= net4

nuget FAKE ~> 4.50
nuget NUnit.Runners
nuget FSharp.Formatting
//nuget FsCheck 0.9.2
nuget FsCheck
nuget FsUnit
nuget NUnit ~> 2
nuget NUnit.Runners.Net4
nuget FSharp.Core redirects: force
nuget SourceLink.Fake
nuget Expecto
nuget Expecto.FsCheck
nuget FParsec

github fsharp/FAKE modules/Octokit/Octokit.fsx
